.room__wrapper {
	display: flex;
	// justify-content: space-between;
	height: 8rem;
	width: 100%;
	border-bottom: 0.2rem solid #888888;
	background-color: #e4e4e4;
	cursor: default;
}

.room {
	&__title {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 15rem;
		height: 100%;
		border-right: 0.1rem solid black;

		&__host,
		&__username {
			font-size: 1.7rem;
			display: flex;
			justify-content: center;
			width: 100%;
			height: 50%;
		}
		&__host {
			align-items: flex-end;
			color: #0d1821;
			font-weight: bold;
		}

		&__username {
			align-items: center;
			color: #326273;
		}
	}

	&__players {
		display: flex;
		flex-direction: column;
		width: 8rem;
		height: 100%;
		border-right: 0.1rem solid black;
		font-size: 1.7rem;

		&__text,
		&__count {
			display: flex;
			justify-content: center;
			height: 50%;
		}

		&__text {
			align-items: flex-end;
			color: #0d1821;
			font-weight: bold;
		}

		&__count {
			align-items: center;
			color: #326273;
		}
	}

	&__status {
		display: flex;
		flex-direction: column;
		width: 12rem;
		height: 100%;
		border-right: 0.1rem solid black;

		&__text,
		&__status {
			display: flex;
			justify-content: center;
			height: 50%;
			width: 100%;
			font-size: 1.7rem;
		}

		&__text {
			align-items: flex-end;
			color: #0d1821;
			font-weight: bold;
		}

		&__status {
			align-items: center;
			color: #326273;
		}
	}

	&__tags {
		display: flex;
		// flex-direction: column;
		flex-wrap: wrap;
		padding-top: 0.5rem;
		height: 100%;
		width: 25rem;
		border-right: 0.1rem solid black;
		font-size: 1.7rem;

		&__text {
			padding-left: 1rem;
			padding-right: 1rem;
			font-weight: bold;
			color: #0d1821;
		}

		&__tags {
			display: flex;
			flex-wrap: wrap;
			padding-top: 0.5rem;
			flex: 1 1 auto;
		}
	}

	&__join {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 1 1 auto;

		&__button {
			width: 7rem;
			height: 2.5rem;
			border: none;
			color: #ffffff;
			border-radius: 2rem;
			background-color: #776e77;
			transition: 0.3s;
			cursor: pointer;

			&:hover {
				transition: 0.3s;
				background-color: #484349;
			}
		}
	}
}
