* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	position: relative;
	width: 100%;
	height: 100%;
	// height: 100vh;
}

#root {
	width: 100vw;
	height: 100vh;
	padding-top: 5rem;
}
