.lobby__wrapper {
	height: 70rem;
	width: 55rem;
	border: 0.1rem solid black;
	margin: 0 auto;
	// padding-top: 5rem;
	z-index: 2;
}

.search {
	position: relative;
	margin: 0 auto;
	margin-top: 3rem;
	align-items: center;
	height: 5rem;
	width: 55rem;
	margin-bottom: 2rem;
	font-size: 1rem;

	&__input {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		background-color: rgb(189, 189, 189);
		border: none;
		border-radius: 2rem;
	}

	&__icon {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 2rem;
	}
}

.lobby {
	&__header {
		display: flex;
		flex-direction: column;
		height: 10rem;
		border-bottom: 0.1rem solid black;
		background-color: rgb(167, 245, 255);

		&__search {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			width: 10rem;
			font-size: 0.5rem;

			&__input {
				height: 3rem;
				min-width: 40rem;
				outline: none;
				border: none;
				border-radius: 1rem;
				padding-left: 1rem;
				background-color: red;
			}

			&__button {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 2.5rem;
				border: none;
				padding: 1rem;
				border-radius: 1rem;
				cursor: pointer;
				margin-left: 1rem;
			}
		}

		&__username {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 4rem;
			border-bottom: 0.1rem solid black;

			&__name,
			&__logout {
				font-size: 2rem;
			}

			&__name {
				padding-left: 2rem;
				color: blue;
			}

			&__logout {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 10rem;
				margin-right: 2rem;
				border: none;
				border-radius: 1rem;
				cursor: pointer;
				outline: none;
				background-color: rgb(44, 240, 174);
				transition: 0.3s;

				&:hover {
					transition: 0.3s;
					background-color: rgb(8, 168, 115);
				}
			}
		}

		&__newgame {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 6rem;
			&__button {
				width: 20rem;
				height: 4rem;
				border: none;
				background-color: rgb(250, 141, 141);
				border-radius: 2rem;
				cursor: pointer;
				outline: none;
				font-size: 2.5rem;
				letter-spacing: 0.1rem;
				transition: 0.3s;

				&:hover {
					transition: 0.3s;
					background-color: rgb(255, 73, 73);
				}
			}
		}
	}
}

.blocker {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	background-color: rgba(48, 48, 48, 0.6);
}

@media screen and (min-width: 720px) {
	.lobby__wrapper {
		width: 70rem;
	}

	.search {
		width: 60rem;
	}
}
