.lobby__popup {
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 30rem;
	height: 40rem;
	left: 50%;
	top: 40%;
	transform: translate(-50%, -50%);
	z-index: 3;
	background-color: #333333;
	border-radius: 1rem;

	&__title {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 5rem;
		width: 100%;
		font-size: 2rem;
		color: #e9e9e9;
	}

	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		width: 100%;
		height: 30rem;

		&__title {
			width: 25rem;
			height: 4rem;
			border: none;
			border-radius: 1rem;
			background-color: #222222;
			padding-left: 1rem;
			font-size: 1.5rem;
			outline: none;
			color: #828282;

			&::placeholder {
				color: #6a6a6a;
				font-size: 1.5rem;
				letter-spacing: 0.2rem;
			}
		}

		&__input {
			width: 25rem;
			margin-top: 1rem;
			padding-top: 1rem;
			border: none;
			border-radius: 1rem;
			background-color: #222222;
			padding-left: 1rem;
			font-size: 1.5rem;
			outline: none;
			color: #828282;

			&::placeholder {
				color: #525252;
				font-size: 1.5rem;
				letter-spacing: 0.2rem;
			}
		}

		&__tags {
			display: flex;
			flex-direction: column;
			align-items: center;

			&__text {
				font-size: 1.5rem;
				color: #bebebe;
				padding-left: 3rem;
				padding-right: 3rem;
				text-align: center;
			}
		}
	}

	&__footer {
		display: flex;
		justify-content: center;
		height: 5rem;
		width: 100%;

		&__button {
			display: flex;
			justify-content: center;
			align-items: center;
			border: none;
			outline: none;
			width: 10rem;
			height: 3rem;
			background-color: #5639ac;
			cursor: pointer;
			color: white;
			border-radius: 1rem;

			&:hover {
				background-color: #8c66ff;
			}
		}
	}
}
