.InputBlock__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 5rem;
}

.InputBlock {
	&__label {
		font-size: 2rem;
	}

	&__input {
		width: 30rem;
		height: 5rem;
		border: 0.1rem solid #888888;
		border-radius: 2rem;
		outline: none;
		padding-left: 2.5rem;
		font-size: 2rem;
	}
}
