.room__tag {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 1rem;
	background-color: rgb(238, 79, 79);
	padding: 1rem;
	font-size: 1.7rem;
	margin-left: 0.5rem;
	border-radius: 1rem;
	color: rgb(228, 227, 227);
}
