.game__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 60rem;
	height: 70rem;
	margin: 0 auto;
	// border: 0.1rem solid black;
}

.game {
	&__active {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 10rem;
		width: 100%;

		font-size: 4rem;

		&__username {
			padding-left: 1rem;
			color: rgb(218, 85, 85);
		}
	}

	&__body {
		display: flex;
		flex-direction: column;
		height: 60rem;
		width: 100%;
		border: 0.1rem solid black;
	}

	&__title {
		display: flex;
		align-items: center;
		height: 10rem;
		width: 100%;
		font-size: 4rem;
		border-bottom: 0.1rem solid black;
		// border-top: 0.1rem solid black;

		&__1,
		&__2 {
			display: flex;
			align-items: center;
			width: 25rem;
			height: 100%;
			color: rgb(9, 101, 107);
		}

		&__1 {
			justify-content: flex-end;
			flex-wrap: wrap;
		}

		&__2 {
			justify-content: flex-start;
			flex-wrap: wrap;
		}

		&__vs {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			width: 10rem;
			color: red;
		}
	}

	&__field {
		display: flex;
		flex: 1 1 auto;
		justify-content: center;
		align-items: center;
	}
}
