.login__wrapper {
	display: flex;
	flex-direction: column;
	width: 50rem;
	height: 50rem;
	margin: 0 auto;
	margin-top: 15rem;
	border: 0.1rem solid #888888;
}

.login {
	&__header {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex: 0 1 auto;
		width: 100%;
		height: 7rem;
		background-color: rgb(154, 194, 253);

		&__signup,
		&__login {
			height: 4rem;
			width: 13rem;
			border: none;
			border-radius: 2rem;
			cursor: pointer;
			outline: none;
		}

		&__signup {
			background-color: white;

			&:hover {
				background-color: #d3fc63;
			}
		}

		&__login {
			background-color: #d3fc63;
		}
	}

	&__body {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		flex: 1 1 auto;
		padding-left: 2rem;
		padding-right: 2rem;
	}

	&__footer {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 0 1 auto;
		height: 7rem;
		background-color: #6d6c6c;

		&__submit {
			height: 4rem;
			width: 13rem;
			border: none;
			border-radius: 2rem;
			cursor: pointer;
			background-color: #353333;
			color: white;
			outline: none;
		}
	}
}
